
body {
    background: darkgray;
    box-sizing: inherit;
    text-align: center;
}
header {
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}
nav {
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}
footer {
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}
.section {
    padding-top: 20px;
    background-color: white;
    position: relative;
    width: 39%;
    height: 280px;
    left: 10%;
    z-index: -1;

}
#article {
    position: absolute;
    margin: 10% 5% 5% 5%;
    background-color: darkgray;
    height: 180px;
    width: 90%;
    z-index: 1;
    padding-top: 10px;

}
#h1 {
    position: absolute;
    top: 70%;
    left: 5px;
    right: 10px;
    background-color: white;
    height: 50px;
    width: 75%;
    z-index: 3;
    margin-left: 10%;
    float: 30% 5% 30% 5%;
}
#p {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 10px;
    background-color: white;
    height: 50px;
    width: 75%;
    z-index: 3;
    float: 30% 5% 30% 5%;
    margin-left: 10%;

}
aside {
    margin-left: 105%;
    height: 300px;
    background-color: white;
    width: 100%;
  position: relative;
  margin-top: -36px;

}
